body {
    margin: 0;   
    font-family: 'Indie Flower'; 
}

#container-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    width: 50%;
}

h1 {
    text-transform: uppercase;
}
input {
    padding: 0.5rem 1rem;
    font-family: 'Indie Flower';

}

button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-family: 'Indie Flower';

}

