body {
    margin: 0;    
}

#container-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    width: 50%;
}

input {
    padding: 0.5rem 1rem;

}

button {
    padding: 0.5rem 1rem;
    margin: 1rem;
}

